<h3> Ajouter Un Contact</h3>
<div *ngIf="status">
<form (ngSubmit)="creatcontact()">
    <div class="form-group">
      <label for="name"><i class="fa fa-user" aria-hidden="true"> : Name</i> </label>
      <input type="text" class="form-control" id="name" [(ngModel)]="contact.name" name="name">
    </div>
    <div class="form-group">
      <label for="tel">  <i class="fa fa-phone"> : Tel</i></label>
      <input type="number" class="form-control" id="tel" [(ngModel)]="contact.tel" name="tel" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="d-flex justify-content-end">
  <button class="btn btn-success" (click)="status = !status">
    <i class="fa fa-plus" > Contact </i>
  </button>
</div>