
      <ul class="list-group" *ngIf="contacts?.length > 0; else nocontact">
        <div class="row">
          <div class="col-md-10 offset-md-1">
         <h2>La liste de mes contacts</h2>
        <li class="list-group-item" *ngFor="let contact of contacts " style="width: 80%">{{ contact.name }} : {{ contact.tel }}
        <button class="btn btn-secondary" (click)="editecontact(contact)"><i class="fa fa-pencil"> </i></button>
        <div *ngIf="statusEdit && contact.id == mycontact.id">
        <form>
          <div class="row">
            <div class="col s10">
              <i class="fa fa-user"> Name:</i> : <input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="contact.name">
            </div>
            <div class="col s2">
              <i class="fa fa-phone"> Tel:</i>  : <input type="number" class="form-control" placeholder="tel"  name="tel" [(ngModel)]="contact.tel">
            </div>
          </div>
          <div class="m-1">
          <button class="btn btn-warning" (click)="update(contact)">Update</button>    
          <button class=" ml-1 btn btn-secondary" (click)="delete(contact)">Delete</button>
        </div>
        </form>
      </div> 
      </li>
    </div>
  </div>
      </ul>


      <ng-template #nocontact>

        <h5> pas de contact </h5>
      </ng-template>
    